<html>
<head>
</head>
<body>
	<h1>househuntr: find the house that actually meets your needs</h1>
	<form action="#" method="post">
	<% filters.first[:label] %>
	
		<p><input type="submit" value="Add filter"/></p>
	</form>
</body>
</html>