<html>
<head>
</head>
<body>
	<h1>househuntr: find the house that actually meets your needs</h1>
	<form action="#" method="post">
	<% filters.each do |f| %>
		<p><% f.label %>: <input type="text" value="<% value %>" /></p>
	<% end %>
		<p><input type="submit" value="Add filter"/></p>
	</form>
</body>
</html>